{% extends "base.html" %}

{% block title %}
    <!-- <link rel="stylesheet" href="static/add_orders.css">     -->
    <title>Order Details</title>
{% endblock %}
    
{% block mainheading %}
    Order Details
{% endblock %} 

{% block maincontent %}  

<nav class="navbar navbar-expand-lg"
    style="background-color: #007b7b; border-radius: 10px; padding: 5px 15px; height: 45px; width: 100%;">
    <div class="container-fluid d-flex align-items-center">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav d-flex align-items-center">
                <li class="nav-item">
                    <a class="nav-link text-black"
                        href="{{ url_for('orders') }}"
                        style="background-color: white; color: black; border-radius: 5px; padding: 5px 15px; height: 35px; line-height: 25px; transition: all 0.3s ease; text-decoration: none;"
                        onmouseover="this.style.backgroundColor='#f0f0f0'; this.style.color='white';"
                        onmouseout="this.style.backgroundColor='white'; this.style.color='black';">Orders</a>
                </li>
                <li class="mx-1"
                    style="color: white;padding-bottom: 5px; font-size: 40px; font-weight:300">&gt;</li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="#"
                        style="background-color: white; color: black; border-radius: 5px; padding: 5px 15px; height: 35px; line-height: 25px; text-decoration: none;">Order
                        Details</a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>





  
<div class="d-flex flex-column gap-4" style="padding-top: 10px;">
    <!-- Customer Details Section -->
    <div class="card mb-4" >
        <div class="card-header text-white" style="background-color: #007B7B;">
            <h5 class="mb-0">Customer Details</h5>
        </div>
        <div class="card-body">
            <div class="mb-3">
                <label class="form-label">Name</label>
                <!-- <p class="form-control-plaintext">{{ order.customer_name }}</p> -->
                <input type="text" id="customer_name" class="form-control" value="{{ order.customer_name }}" disabled>
            </div>
            <div class="mb-3">
                <label class="form-label">Contact</label>
                <!-- <p class="form-control-plaintext">{{ order.contact }}</p> -->
                <input type="text" id="customer_name" class="form-control" value="{{ order.customer_contact }}" disabled>
            </div>
            <div class="mb-3">
                <label class="form-label">Address</label>
                <!-- <p class="form-control-plaintext">{{ order.address }}</p> -->
                <input type="text" id="customer_name" class="form-control" value="{{ order.customer_address }}" disabled>

            </div>
            <div class="mb-3">
                <label for="total_amount" class="form-label">Amount to Charge</label>
                <input type="number" id="total_amount" class="form-control" value="{{ order.total_amount }}" disabled>
            </div>
        </div>
    </div>

    <!-- Transportation Details Section -->
    <div class="card mb-4">
        <div class="card-header text-white" style="background-color: #007B7B;">
            <h5 class="mb-0">Transportation Details</h5>
        </div>
        <div class="card-body">
            <div class="mb-3">
                <label class="form-label">Vehicle Registration Number</label>
                <!-- <p class="form-control-plaintext">{{ order.vehicle_reg_number }}</p> -->
                <input type="text" id="customer_name" class="form-control" value="{{ order.vehicle.registration_no }}" disabled>

            </div>
            <div class="mb-3">
                <label class="form-label">Vehicle Rent</label>
                <!-- <p class="form-control-plaintext">{{ order.vehicle_rent }}</p> -->
                <input type="text" id="customer_name" class="form-control" value="{{ order.vehicle_rent }}" disabled>

            </div>
            <div class="mb-3">
                <label class="form-label">Labor Cost</label>
                <!-- <p class="form-control-plaintext">{{ order.labor_cost }}</p> -->
                <input type="text" id="customer_name" class="form-control" value="{{ order.labor_cost }}" disabled>

            </div>
            <div class="mb-3">
                <label class="form-label">Salesman Name</label>
                <!-- <p class="form-control-plaintext">{{ order.salesman_name }}</p> -->
                <input type="text" id="customer_name" class="form-control" value="{{ order.salesman.name }}" disabled>

            </div>
        </div>
    </div>

    <!-- Item Details Section -->
    <div class="card mb-4">
        <div class="card-header text-white" style="background-color: #007B7B;">
            <h5 class="mb-0">Item Details</h5>
        </div>
        <div class="card-body">
            {% for item in order.items %}
            <div class="mb-3">
                <h5>Item {{ loop.index }}</h5>
                <div class="mb-3">
                    <label class="form-label">Brand</label>
                    <!-- <p class="form-control-plaintext">{{ item.brand }}</p> -->
                    <input type="text" id="brand_name" class="form-control" value="{{ item.brand.name }}" disabled>

                </div>
                <div class="mb-3">
                    <label class="form-label">Brick Type</label>
                    <!-- <p class="form-control-plaintext">{{ item.brick_type }}</p> -->
                    <input type="text" id="customer_name" class="form-control" value="{{ item.brick_type_name }}" disabled>

                </div>
                <div class="mb-3">
                    <label class="form-label">Quantity</label>
                    <!-- <p class="form-control-plaintext">{{ item.quantity }}</p> -->
                    <input type="text" id="quantity" class="form-control" value="{{ item.quantity }}" disabled>
                    
                </div>
                <div class="mb-3">
                    <label class="form-label">Price</label>
                    <!-- <p class="form-control-plaintext">{{ item.price }}</p> -->
                    <input type="text" id="price" class="form-control" value="{{ item.price }}" disabled>

                </div>
                <div class="mb-3">
                    <label class="form-label">Total</label>
                    <!-- <p class="form-control-plaintext">{{ item.price }}</p> -->
                    <input type="text" id="total_amount" class="form-control" value="{{ item.total_price }}" disabled>

                </div>
                <hr>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="text-center" style=" padding-bottom: 50px;  ">
    <!-- <button type="button" class="btn btn-danger" style="width: 200px;">Edit</button> -->
    <a href="{{ url_for('edit_order', order_id=order.id) }}" class="btn btn-warning">Edit Order</a>
    
</div>

{% endblock %}
